body {
  background-color: rgb(38, 38, 38);
}

.titulo {
  color: white;
  font-family: arial;
  font-weight: bold;
  display: flex;
  align-content: center;
  justify-content: center;
}

.seçao-trailers {
  position: absolute;
  left: 550px;
  width: 500px;
}

